<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/loginAndSignUp.css">
  <title>To-do Login</title>
</head>
<body>
  <h2>Account Login</h2>
  <div class="loginBox">
    <div class="alert">
      __alert__
    </div>
    <form action="login" method="POST">
    <div class="fieldContainer">
      <img src="images/user.png" height="30px" width="28px">
      <input name="userName" type="text" placeholder="Username" autocomplete="off" required>
    </div>
    <div class="fieldContainer">
      <img src="images/lock.png" height="25px" width="28px">
      <input name="password" type="password" placeholder="Password" required>
    </div>
      <input class="mainBtn" type="submit" value="Log in">
  </form>
</div>
<a href="signUp.html">Don't have an account ?</a>
</body>
</html>